node_modules/
www/
android/keystore.properties
*.keystore
*.jks
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/src/main/assets/public/
shots/
t*.mjs
t-home.png
dist/
